@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");
@import "tailwindcss";

@theme {
  --breakpoint-xs: 30rem;
  --color-primary: #8a2be2;
  --color-primary-light: #9d4edd;
  --color-secondary: #ff8c00;
  --color-dark: #0a0a0a;
  --color-darker: #050505;
  --color-light: #e6f1ff;
  --color-light-gray: #a0a0c0;
  --color-code-comment: #6a9955;
  --color-code-keyword: #569cd6;
  --color-code-string: #ce9178;
  --color-code-number: #b5cea8;
  --color-code-type: #4ec9b0;
  --color-code-property: #9cdcfe;
  --font-fira-code: "Fira Code", monospace;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}
